@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* load font from /public */
@font-face {
  font-family: "Benzin";
  src: url("../public/Benzin-Font/Benzin-Semibold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Optional: keep body defaults for pages without Tailwind utility classes */
html, body, #__next {
  height: 100%;
}
